{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>car_list</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'header.html' %}
    <ul>
        {% for i in car_object %}
        <li>
            <h2><b><i>{{i.title}}</i></b></h2>
            <img src="{{i.image.url}}" alt="" width="600" height="auto">
            <p><b>Цена: {{i.cost}} сом</b></p>
            <button><a href="/car_list/{{i.id}}">Подробнее</a></button>
        </li>
        {% endfor %}
    </ul>
{% include 'footer.html' %}
</body>
</html>